@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Cadastro e Balanço</h1>
        <h3>Seja Bem Vindo</h3>
        <br>
        <p class="lead">Aqui podemos fazer cadastros de clientes, produtos, serviços ou qualquer coisa que precise cadastrar, editar, detalhar ou excluir.</p>
        <br>
        
    </section>
    

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Lista de cadastros</h2>
            <p>
                Todos os clientes cadastrados
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44361/Cliente">Veja Todos &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Cadastrar Novo Cliente</h2>
            <p>Cadastre novos clientes aqui</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44361/Cliente/Criar">Cadastrar &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Por enquanto nada</h2>
            <p>Vendo o que fazer</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>